@model IEnumerable<BezoekersDashboard.Models.Visitors>

@{


}

<h1>Visitors</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<script src="~/js/Chart.js"></script>
<p>
    <div class="data_holder">
        <div id="filter_holder">
            <div id="filter_nav_holder">
                <button id="btn_year" class="nav_btn" filter_id="input_year">Jaar</button>
                <input type="text" id="input_year" class="nav_input" />
                <button id="btn_month" class="nav_btn" filter_id="input_month">Maand</button>
                <input type="text" id="input_month" class="nav_input" />
                <button id="btn_day" class="nav_btn" filter_id="input_date">Dag</button>
                <input type="date" id="input_date" class="nav_input" />
                <button id="btn_zipcode" class="nav_toggle_btn" filter_id="input_zip">Postcode</button>
                <input type="text" id="input_zip" />
            </div>
            <div id="filter_input_holder">
            </div>
            <div id="filter_submit_holder">
                <button id="submit_filter">Search</button>
            </div>
        </div>
        <div class="chart_holder" width="400" height="200">
            <canvas id="visitorbarchart" class="chart"></canvas>
        </div>
        <div class="chart_holder" width="400" height="200">
            <canvas id="visitorlinechart" class="chart"></canvas>
        </div>
        <div id='map' class="custom_map" style='width: 400px; height: 300px;'></div>
        <table class="table custom_table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Zipcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a href="Visitors/GetZip/@Html.DisplayFor(modelItem => item.Zipcode)">@Html.DisplayFor(modelItem => item.Zipcode)</a>
                    </td>
                    <td>
                        <a href="Visitors/GetDate/@Html.DisplayFor(modelItem => item.Date)">@Html.DisplayFor(modelItem => item.Date)</a>
                    </td> 
                </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        //interactive filter bar script for search
        (function ($) {
            $(document).ready(function () {
                $('body').off('click', '.nav_btn').on('click', '.nav_btn', function () {
                    $('.nav_btn').each(function () {
                        $(this).removeClass('nav_active');
                    })
                    $(this).addClass('nav_active');
                    var filter_id = $(this).attr('filter_id');
                    $('.nav_input').each(function () {
                        $(this).removeClass('nav_active')
                    })
                    $('#' + filter_id).addClass('nav_active');
                })

                //interaction for filtering on zipcodes
                $('body').off('click', '.nav_toggle_btn').on('click', '.nav_toggle_btn', function () {

                    var filter_id = $(this).attr('filter_id');
                    if ($('#' + filter_id).hasClass('nav_active')) {
                        $('#' + filter_id).removeClass('nav_active');
                        $(this).removeClass('nav_active')
                    } else {
                        $('#' + filter_id).addClass('nav_active');
                        $(this).addClass('nav_active')
                    }
                });

                $('body').off('click', '#submit_filter').on('click', '#submit_filter', function () {
                    var values = "";
                    var value = "";
                    $('input.nav_active').each(function () {
                        value = $(this).val();
                        values += "/"+$(this).attr('id')+"/"+value;
                    });
                    window.location.replace("/Visitors" + values);
                });
            });
        }(jQuery));
    </script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZDI1MjIxNSIsImEiOiJjanZud252d3QxbXMwNDNuemVzNGR1OXd4In0.buef45ACfL9QD2pc8nXWsA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [4.4126, 51.5094],
            zoom: 11
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script>
        (function ($) {

            var visitorbarchart = document.getElementById("visitorbarchart").getContext('2d');
            var visitorlinechart = document.getElementById("visitorlinechart").getContext('2d');
                           @{ 
                               List<object> ls = new List<object>();
                               var labelstring = "";
                               List<int> lsdata = new List<int>();
                               foreach (var value in Model)
                               {
                                   if (ls.Contains(value.Zipcode)) {
                                       var index = ls.IndexOf(value.Zipcode);
                                       lsdata[index] += value.Amount;
                                   } else
                                   {
                                       ls.Add(value.Zipcode);
                                       if (labelstring == "")
                                       {
                                           lsdata.Add(value.Amount);
                                           labelstring = value.Zipcode.ToString();
                                       }else
                                       {
                                           lsdata.Add(value.Amount);
                                           labelstring += " " + value.Zipcode.ToString();
                                       }
                                   }
                               }

                               var datastring = "";
                               foreach (var value in lsdata)
                               {
                                   if (datastring == "")
                                   {
                                       datastring = value.ToString();
                                   }else
                                   {
                                       datastring += " " + value.ToString();
                                   }
                               }
                           }
            var dataobject = @Json.Serialize(datastring);
            var labelobject = @Json.Serialize(labelstring);
            var dataar = dataobject.split(" ");
            var labelar = labelobject.split(" ");
            var data = ["test", "123"];
            //arstring = "'" + arstring;
            //var stringar = [arstring.split(", ")];
            console.log(dataar);
            var chartdata = {
                labels: labelar,
                    datasets: [
                        {
                            fillColor: "rgba(220,220,220,0.8)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: dataar
                        }
                    ]
                    
                };

            var visitorbarchart = new Chart(visitorbarchart,{
                type: 'bar',
                data: chartdata,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var visitorlinechart = new Chart(visitorlinechart, {
                type: 'line',
                data: chartdata,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }(jQuery))
    </script>
</p>